.dep/
compiler
stutest.out
proftest.out

# ctags/etags files
tags

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Vim history files
.*~
